*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(240, 242, 245);
}
.container{
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}
.container-1{
    display: block;
}
.container-2{
    display: block;
    width: 400px;
    height: 450px;
}
form{
    display: flex;
    flex-direction: column;
    border: 1px  transparent;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0px 0px 30px whitesmoke;
}
#email-mobile-box, #pass-box, #logIn-box, #new-accnt{
    margin-top: 20px;
    border-radius: 5px;
}
#email-mobile-box, #pass-box, #logIn-box{
    width: 90%;
    height: 45px;
    margin: auto;
}
#email-mobile-box, #pass-box{
    border: 2px solid rgb(223, 217, 217);
    margin-bottom: 15px;
}
#logIn-box, #new-accnt{
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 2s;
    opacity: 0.8;
}
#logIn-box, #new-accnt:hover{
    opacity: 1;
}
#logIn-box{
    background: rgb(24, 119, 242);
}
#new-accnt{
    background: rgb(65, 183, 42);
    height: 45px;
    width: 150px;
    margin-left: 25%;
    margin-right: 25%;
}
footer{
    margin-top: 20px;
    text-align: center;
}
hr{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}
a p{
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
    color: rgb(24, 119, 242);
}
.container-1 h1{
    color: rgb(24, 119, 242);
    font-weight: bolder;
    font-size: 4em;
}
.container-1 p{
    font-size: 28px;
}
span{
   font-weight: bolder; 
}
span a{
    color: black;
}